<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <localRepository>/home/virtuser/.m2/repository</localRepository>
  <servers>
  <server>
      <username>admin</username>
      <!--password>{7jGbIXXD00gH0DVSh8Hb6ukl6tCtfEup/Tir0YChFf4=}</password-->
      <password>admin123</password>
      <id>deployment</id>
    </server>
     <server>
      <username>demoUser</username>
      <password>jboss.1234</password>
      <id>brms-m2-repo</id>
    </server>
    <server>
      <username>admin</username>
      <password>admin</password>
      <id>fabric8.upload.repo</id>
    </server>
  </servers>
  <profiles>
  <profile>
    <id>openshift-mirror-repositories</id>
    <repositories>
      <repository>
        <id>openshift-mirror</id>
        <url>http://192.168.223.130:8081/repository/maven-releases/</url>
      </repository>
    </repositories>

    <pluginRepositories>
      <pluginRepository>
        <id>openshift-mirror</id>
        <url>http://192.168.223.130:8081/repository/maven-releases/</url>
      </pluginRepository>
    </pluginRepositories>
  </profile>
    <profile>
      <id>jboss-ga-repository</id>
            <repositories>
              <repository>
                  <id>jboss-ga-repository</id>
                  <url>http://maven.repository.redhat.com/ga/all</url>
                  <releases>
                    <enabled>true</enabled>
                  </releases>
                  <snapshots>
                    <enabled>true</enabled>
                  </snapshots>
              </repository>
              <repository>
                  <id>jboss-fuse-repository</id>
                  <url>https://repo.fusesource.com/nexus/content/groups/public</url>
                  <releases>
                    <enabled>true</enabled>
                  </releases>
                  <snapshots>
                    <enabled>true</enabled>
                  </snapshots>
              </repository>
              <repository>
                  <id>jboss-techpreview-repository</id>
                  <url>http://maven.repository.redhat.com/techpreview/all</url>
                  <releases>
                    <enabled>true</enabled>
                  </releases>
                  <snapshots>
                    <enabled>true</enabled>
                  </snapshots>
              </repository>
        <repository>
            <id>jboss-earlyaccess-repository</id>
            <url>http://maven.repository.redhat.com/earlyaccess/all/</url>
            <releases>
              <enabled>true</enabled>
            </releases>
            <snapshots>
              <enabled>false</enabled>
            </snapshots>
        </repository>

            </repositories>

      <pluginRepositories>
<!--
          <pluginRepository>
            <id>jboss-ea-plugin-repository</id>
            <url>https://repository.jboss.org/nexus/content/groups/ea</url>
            <id>jboss-fuse-plugin-repository</id>
            <url>https://repo.fusesource.com/nexus/content/groups/public</url>
            <releases>
              <enabled>true</enabled>
            </releases>
            <snapshots>
              <enabled>true</enabled>
		    </snapshots>
		   </pluginRepository>
-->
          <pluginRepository>
            <id>jboss-techpreview-plugin-repository</id>
            <url>http://maven.repository.redhat.com/techpreview/all</url>
            <releases>
              <enabled>true</enabled>
            </releases>
            <snapshots>
              <enabled>true</enabled>
            </snapshots>
           </pluginRepository>
          <pluginRepository>
          <id>jboss-earlyaccess-plugin-repository</id>
          <url>http://maven.repository.redhat.com/earlyaccess/all/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
          <pluginRepository>
          <id>jboss-ga-plugin-repository</id>
          <url>http://maven.repository.redhat.com/ga/all</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>        
      </pluginRepositories>

  </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>jboss-ga-repository</activeProfile>
    <activeProfile>openshift-mirror-repositories</activeProfile>
  </activeProfiles>
<!--
  <pluginGroups>
    <pluginGroup>org.apache.maven.plugins</pluginGroup>
    <pluginGroup>org.codehaus.mojo</pluginGroup>
  </pluginGroups>
-->
</settings>
